// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.admin-title h1 {
    color: #ffffff;
}

.admin-subtitle h3{
    color: #ffffff;
 
}

.card {
    background-color: gray;
}

.card-body {
    background-color: #2e769d;
}

.comment-edit{
    background-color: #2e769d;
    height: 100vh;
}

.comment-edit h1 {
color: #ffffff;}

.create-card {
    background-color: #2e769d;
}

.comment-card {
    background-color: gray;
}

.comment-body {
    background-color: gray;
}

.comment-card-edit {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.comment-edit-label{
    color: #2e769d;
    font-weight: bold;
}

.comment-edit-page{
    background-color: #2e769d;
    height: 100vh;
}

.comment-title{
    background-color: #2e769d;
  
}

.comment-subtitle h3{
    color: #ffffff;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

h3 {
    color: #2e769d;
}

.image img {
    width: 300px;
}

.input-comment {
    color: #2e769d;
}

label {
    color: #2e769d;
}

label {
    color: white;
}

.logo img {
    width: 200px;
    color: #2e769d;
}

.logo-titre{
    border-radius: 50%;
    width: 300px;
}

.mon-compte h1 {
color: #ffffff;}

.nav {
    position: fixed;
    width: 100vw;
}

.politique a{
    color: #ffffff;
}

.post-card-edit {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.post-edit-label{
    color: #2e769d;
    font-weight: bold;
}

.post-edit-page{
    background-color: #2e769d;
    height: 100vh;
}

.post-edit h1{
    color: #ffffff;
}

.read-card {
    background-color: gray;
}

.resultat-recherche {
    color: #2e769d;
}

section {
    font-family: lato;
}

.site-title h1 {
    font-weight: bold;
    font-size: 5rem;
}

.text-accueil h4 {
    font-weight: bold;
    font-size: 1.7rem;
}

.text-center h1 {
    color: #2e769d;
}

.user-edit h3{
    color: #ffffff;
}

